.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ff3366;
}

.BingoBoard {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
  border: 2px solid;
  border-radius: 12px;
}

.BingoBoard__winner {
  -webkit-animation: spin 2s ease-in-out 1;
  -moz-animation: spin 2s ease-in-out 1;
  animation: spin 2s ease-in-out 1;
}

.BingoBox {
  padding: 2vmax;
  border: 1px solid;
  font-size: 3vmin;
}

.BingoBox:nth-child(1) {
  border-radius: 10px 0 0 0;
}

.BingoBox:nth-child(5) {
  border-radius: 0 10px 0 0;
}

.BingoBox:nth-child(21) {
  border-radius: 0 0 0 10px;
}

.BingoBox:nth-child(25) {
  border-radius: 0 0 10px 0;
}

.BingoBox__selected {
  padding: 2vmax;
  border: 1px solid;
  background: #b2df00;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
